<div class="form-container">
<form [formGroup]="addproductForm" (ngSubmit)="guardar()" class="formulario">
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
      <input matInput placeholder="Título" formControlName="titulo" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>precio</mat-label>
      <input matInput type="number" class="right-label" placeholder="Precio" formControlName="precio" required>
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>
  
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Categoría</mat-label>
      <input matInput placeholder="Categoría" formControlName="categoria" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Imagen</mat-label>
      <input matInput formControlName="imagen">
      <button mat-raised-button (change)="adjuntarImagen($event)">Adjuntar</button>
      <mat-hint *ngIf="addproductForm.get('imagen')?.value">Imagen seleccionada</mat-hint>
      <mat-error *ngIf="addproductForm.get('imagen')?.invalid">Selecciona una imagen</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" class="boton">Guardar</button>
  </form>
</div>